<div class="current-meal">
    <div class="logo">
        <img src="../../assets/logo.png" alt="" class="transparent">
    </div>
    <p class="cancel" (click)="backToCalendar()">Back</p>
    <h1>{{days[ingestion['thisDay']]}}</h1>
    <div class="info">
        <span for="">Kcal</span>
        <p [style.color]="ingestion['info']['color']">{{ingestion['info']['kcal']}} / {{settings['maxKcal']}}</p>
        <span for="">Fats(gm)</span>
        <p [style.color]="ingestion['info']['fats'] > settings['fats'] ? '#F47981' 
            : (ingestion['info']['fats'] < settings['fats'] ? '#F5D45E' : '#799CF4')">{{ingestion['info']['fats']}} /
            {{settings['fats']}}</p>
        <span for="">Proteins(gm)</span>
        <p [style.color]="ingestion['info']['proteins'] > settings['proteins'] ? '#F47981' 
            : (ingestion['info']['proteins'] < settings['proteins'] ? '#F5D45E' : '#799CF4')">
            {{ingestion['info']['proteins']}} / {{settings['proteins']}}</p>
        <span for="">Carbohydrates(gm)</span>
        <p [style.color]="ingestion['info']['carbohydrates'] > settings['carbohydrates'] ? '#F47981' 
            : (ingestion['info']['carbohydrates'] < settings['carbohydrates'] ? '#F5D45E' : '#799CF4')">
            {{ingestion['info']['carbohydrates']}} / {{settings['carbohydrates']}}</p>
        <div class="ingestions">
            <div *ngFor="let hour of hours">
                <div class="meal" *ngIf="ingestion['ingestions'][hour] !== undefined">
                    <span class="title">{{ingestion['ingestions'][hour]['title']}}</span>
                    <div class="time">
                        <span>{{ingestion['ingestions'][hour]['calories']}}</span>
                        <span>{{hour}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>