<div class="new-meal">
    <p class="cancel" (click)="addMeal(true)">Cancel</p>
    <h1>New meal</h1>
    <div class="ingestion">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="ingestion['title']" id="title">
        <hr>
        <div class="time">
            <div>
                <label for="">Kcal</label>
                <label for="">Time</label>
            </div>
            <div>
                <input type="text" [(ngModel)]="ingestion['calories']">
                <input type="text" [(ngModel)]="time">
            </div>
            <div>
                <hr>
                <hr>
            </div>
        </div>
        <label for="">Fats(gm)</label>
        <input type="text" [(ngModel)]="ingestion['fats']">
        <hr>
        <label for="">Proteins(gm)</label>
        <input type="text" [(ngModel)]="ingestion['proteins']">
        <hr>
        <label for="">Carbohydrates(gm)</label>
        <input type="text" [(ngModel)]="ingestion['carbohydrates']">
        <hr>
        <p>Add photo</p>
        <img src="" alt="">
    </div>
    <div class="add-meal">
        <button (click)="addMeal(false)">Add meal</button>
    </div>
</div>
