<div class="new-meal">
    <div class="logo">
        <img src="../../assets/logo.png" alt="" class="transparent">
    </div>
    <p class="cancel" (click)="addMeal(true)">Cancel</p>
    <h1>New meal</h1>
    <div class="ingestion">
        <label for="title">Title</label>
        <input type="text" [formControl]="inpTitle" id="title" placeholder="...here should be title of meal">
        <hr [ngStyle]="{'box-shadow': !titleValid ? '0 0 10px red' : 'none'}">
        <div class="time">
            <div>
                <label for="">Kcal</label>
                <label for="">Time</label>
            </div>
            <div>
                <input type="text" [formControl]="inpKcal">
                <input type=" text" [formControl]="inpTime">
            </div>
            <div>
                <hr [ngStyle]="{'box-shadow': !kcalValid ? '0 0 15px red' : 'none'}">
                <hr [ngStyle]="{'box-shadow': !timeValid ? '0 0 15px red' : 'none'}">
            </div>
        </div>
        <label for="">Fats(gm)</label>
        <input type="text" [formControl]="inpFats">
        <hr [ngStyle]="{'box-shadow': !fatsValid ? '0 0 10px red' : 'none'}">
        <label for="">Proteins(gm)</label>
        <input type="text" [formControl]="inpProteins">
        <hr [ngStyle]="{'box-shadow': !proteinsValid ? '0 0 10px red' : 'none'}">
        <label for="">Carbohydrates(gm)</label>
        <input type="text" [formControl]="inpCarbohydrates">
        <hr [ngStyle]="{'box-shadow': !carbohydratesValid ? '0 0 10px red' : 'none'}">
        <p>Add photo</p>
        <img src="" alt="">
    </div>
    <div class="add-meal">
        <button (click)="addMeal(false)">Add meal</button>
    </div>
</div>