.calendar-page {
    z-index: 2;
    background: rgba($color: rgb(255, 255, 255), $alpha: 1);

    .logo {
        background: transparent;
        position: fixed;
        bottom: 5px;
        right: 5px;

        img {
            z-index: 1;
        }

        .transparent {
            filter: alpha(Opacity=50);
            opacity: 0.25;
        }
    }

    .calendar {
        z-index: 4;
        display: flex;
        font: normal 14px/16px Roboto Condensed;

        .add-ingestion {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            z-index: 7;
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: white;

            img {
                position: relative;
                top: 15%;
                left: 15%;
                width: 70%;
                height: auto;
            }
        }

        .hours {
            background: white;
            z-index: 8;
            padding: 80px 0 0 10px;
            width: 40px;
            display: flex;
            flex-direction: column;

            div {
                margin-bottom: 39px;

                p {
                    font-weight: 300;
                    color: #413F3F;
                    margin: 0;
                }
            }
        }

        .wrapCalContent {
            display: flex;
            padding-left: 20px;
        }

        .day-net {
            width: 50px;

            .text {
                padding-top: 5px;
                position: sticky;
                top: 0;
                z-index: 9;
                height: 70px;
                width: 50px;
                background-color: white;

                p {
                    font-weight: 700;
                    margin: 0 0 10px 12px;
                }

                div {
                    p {
                        font-weight: 700;
                        margin: 5px 0 3px 12px;
                    }
                }

                .day {
                    display: inline;
                    background-color: #799CF4;
                    box-shadow: 0 0 10px #799CF4;
                    border-radius: 50%;
                    color: white;
                }

            }
        }

        .col {
            margin-top: 10px;
            z-index: 3;
            width: 50px;
            display: flex;
            flex-direction: column;

            .block {
                border: 1px solid #D8D5D5;
                height: 53px;

                .item {
                    position: relative;
                    height: 96%;
                    width: 96%;
                    margin: 1px 0 0 1px;

                    div {
                        padding: 2px 0 2px 2px;
                        color: white;
                        font: 300 12px/14px Roboto Condensed;
                        display: flex;
                        flex-direction: column;

                        span {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:nth-child(2) {
                                margin-top: 20px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    .settings {
        position: fixed;
        z-index: 10;
        background: rgb(255, 255, 255);
        width: 63px;
        height: 70px;
        display: flex;
        flex-direction: column;

        p {
            margin: 5px 0 0 5px;
            font: 700 14px/16px Roboto Condensed;
        }
    }
}
