<div class="settings">
    <p class="cancel" (click)="saveSettings(true)">Cancel</p>
    <div class="logo">
        <img src="../../assets/logo.png" alt="" class="transparent">
    </div>
    <h1>Personal settings</h1>
    <div class="personal">
        <label>Gender</label>
        <div class="themes">
            <div class="paragraph" (click)="selectOption(0)">
                <span class="circuit">
                    <span class="circle" *ngIf="circles[0]"></span>
                </span>
                <span class="selector">Male</span>
            </div>
            <div class="paragraph" (click)="selectOption(1)">
                <span class="circuit">
                    <span class="circle" *ngIf="circles[1]"></span>
                </span>
                <span class="selector">Female</span>
            </div>
        </div>
        <label for="">Weight(kg)</label>
        <input type="text" class="form-control" [(ngModel)]="inpWeight" #weight="ngModel" required pattern="[0-9]*"
            minlength="2">
        <hr [ngClass]="{'invalid-field': weight.invalid}">
        <label for="">Height(sm)</label>
        <input type="text" class="form-control" [(ngModel)]="inpHeight" #height="ngModel" required pattern="[0-9]*"
            minlength="2">
        <hr [ngClass]="{'invalid-field': height.invalid}">
        <label for="">Age(yrs)</label>
        <input type="text" class="form-control" [(ngModel)]="inpAge" #age="ngModel" required pattern="[0-9]*">
        <hr [ngClass]="{'invalid-field': age.invalid}">
        <div class="calc-btn">
            <button (click)="calcParams()">Calculate rate for day</button>
        </div>

        <div class="time">
            <div>
                <label for="">Min kcal</label>
                <label for="">Max kcal</label>
            </div>
            <div>
                <input type="text" class="form-control" [(ngModel)]="inpMinKcal" #minkcal="ngModel" required
                    pattern="[0-9]*">
                <input type="text" class="form-control" [(ngModel)]="inpMaxKcal" #maxkcal="ngModel" required
                    pattern="[0-9]*">
            </div>
            <div>
                <hr [ngClass]="{'invalid-field': minkcal.invalid}">
                <hr [ngClass]="{'invalid-field': maxkcal.invalid}">
            </div>
        </div>
        <label for="">Fats(gm)</label>
        <input type="text" class="form-control" [(ngModel)]="inpFats" #fats="ngModel" required minlength="2"
            maxlength="4" pattern="[0-9]*">
        <hr [ngClass]="{'invalid-field': fats.invalid}">
        <label for="">Proteins(gm)</label>
        <input type="text" class="form-control" [(ngModel)]="inpProteins" #proteins="ngModel" required minlength="2"
            maxlength="4" pattern="[0-9]*">
        <hr [ngClass]="{'invalid-field': proteins.invalid}">
        <label for="">Carbohydrates(gm)</label>
        <input type="text" class="form-control" [(ngModel)]="inpCarbohydrates" #carbohydrates="ngModel" required
            minlength="2" maxlength="4" pattern="[0-9]*">
        <hr [ngClass]="{'invalid-field': carbohydrates.invalid}">
    </div>
    <div class="save-btn">
        <button (click)="saveSettings(false)" [hidden]="weight.invalid || 
                    height.invalid || 
                    age.invalid || 
                    minkcal.invalid || 
                    maxkcal.invalid || 
                    fats.invalid || 
                    proteins.invalid ||
                    carbohydrates.invalid
                    ">Save
            settings</button>
    </div>
</div>